<!DOCTYPE html>
<html ng-app="Power Points Tracker" lang="en">
    <head>
    <meta charset="UTF=8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <title>Super Awesome Chat Room!</title>
    
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
     
    <style>
        .jumbotron{
            background-color:#003399;
            color:black;
        }
    </style> 
    
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.4/socket.io.js"></script>
    <script src="js/controller.js"></script>
    </head>   
    <body>
        
        {%block content %}{% endblock %}
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scale.fix.js"></script>
    </body>
</html>