<!DOCTYPE html>
<html ng-app="PowerPointsTracker" lang="en">
    <head>
    <meta charset="UTF=8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <title>VHSL Power Points</title>
    
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
     
    <style>
        .jumbotron{
            background-color:#F2F2F2;
            color:black;
            padding:20px 20px 20px 20px;
        }
        
        .table-striped>tbody>tr:nth-child(even)>td, 
        .table-striped>tbody>tr:nth-child(even)>th {
           background-color: #FFCCCC;
         }
    </style> 
    
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.4/socket.io.js"></script>
    <script src="js/controller.js"></script>
    </head>   
    <body>
    <!-- Main container -->
    <div class="container" ng-controller="PointsController">
        
        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="/">VHSL Power Points</a>
            
                <ul class="nav navbar-nav">
                    
                <li>
                    <div class="dropdown">
                      <button class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown">Admin</button>
                        <ul class="dropdown-menu" style="padding:10px">
                            <form ng-submit="admin()" name="adm" role="adm" id="adm"> 
                            <li><div class="form-group"><label for="newUserName">User Name:</label><input type="text" class="form-control" name="un" placeholder="User Name"></div></li>
                            <li><div class="form-group"><label for="firstPW">Password:</label><input type="password" class="form-control" name="pw" placeholder="Password"></div></li>
                            <li><button type="submit" class="btn btn-danger">Log in</button></li>
                            </form>
                        <div style="visibility:hidden" id="failLog"><p style="color:red">Invalid User or PW</p></div>
                        </ul>
                    </div>
                </li>
            </div>
                
                <div class="form-group">
                <form ng-submit="standings()" class="navbar-form navbar-right" id="regionName">
                    <button type="submit" class="btn btn-danger btn-sm">View standings: </button>
                        <select class="form control" id="pickregion">
                            {% for rn in regionnames %}
                            {{rn}}
                            <option>{{rn}}</option>
                            {% endfor %}
                        </select>
                </form>
                
                <form ng-submit="teams()" class="navbar-form navbar-right" id="teamName">
                    <button type="submit" class="btn btn-danger btn-sm">View a team: </button>
                        <select class="form control" id="pickteam">
                            {% for tn in teamnames %}
                            {{tn}}
                            <option>{{tn}}</option>
                            {% endfor %}
                        </select>
                </form>
                </div>
                    
                 
                
            </div>
        <!-- End Nav Bar -->
        </nav>
        
        <div class="jumbotron col-lg-12 col-md-12 col-sm-12 col-xs-12">
            
        
        {%block content %}{% endblock %}
        
        
        
        </div>
    <!-- End Main Container -->
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/scale.fix.js"></script>
    </body>
</html>